songlist.xsd

<?xml version="1.0" ?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="songs">
      <xs:complexType>
        <xs:sequence>
            <xs:element name="song" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="artist" type="xs:string"/>
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="genre" type="xs:string"/>
                    <xs:element name="year" type="xs:int"/>
                  </xs:sequence>
                </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>
</xs:schema>
